{% extends 'base.html.twig' %}

{% block title %}Bienvenido al desarrollo de la prueba técnica{% endblock %}

{% block body %}
    <div class="fixer">
        <div class="card">
            <div class="card-header">Creando algo nuevo</div>
            <div class="card-body">
                <h1>Bienvenido, Viajemos.com</h1>
                <hr>
                <ul>
                    <li>El presente tiene el desarrollo de la prueba técnica segun el esquema planteado.</li>
                    <li>En la barra de navegación superior se pueden encontrar los CRUD de cada elemento.</li>
                    <li>Se omitió la opción de eliminar porque no se especificaba en el enunciado.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
